In [9]:
import pandas as pd
import numpy as np
import sklearn 
data = {
    "x" :[1,2,3,4,5,6],
    "y" :[10,11,12,4,14,15]
    
}

data

{'x': [1, 2, 3, 4, 5, 6], 'y': [10, 11, 12, 4, 14, 15]}

In [10]:
df=pd.DataFrame(data)
df

   x   y
0  1  10
1  2  11
2  3  12
3  4   4
4  5  14
5  6  15

In [11]:
df.head(10)

   x   y
0  1  10
1  2  11
2  3  12
3  4   4
4  5  14
5  6  15

In [12]:
pearson_corr = df["x"].corr(df["y"])
print("pearson correlation coeFFicient :",pearson_corr)

pearson correlation coeFFicient : 0.35646552311960317

In [13]:
df.corr()

          x         y
x  1.000000  0.356466
y  0.356466  1.000000