In [2]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [3]:
data = [
    ['good'], ['bad'], ['excellent'], ['average'], 
    ['good'], ['average'], ['excellent'], ['bad'], 
    ['average'], ['good']
]

In [10]:
data = pd.DataFrame(data=data, columns=['reviews'])
data.head(10)

     reviews
0       good
1        bad
2  excellent
3    average
4       good
5    average
6  excellent
7        bad
8    average
9       good

In [7]:
data.shape

(10, 1)

In [5]:
categories = [['bad', 'average', 'good', 'excellent']]

In [6]:
categories

[['bad', 'average', 'good', 'excellent']]

In [8]:
encoder = OrdinalEncoder(categories=categories)

In [9]:
encoded_data = encoder.fit_transform(data)
encoded_data

array([[2.],
       [0.],
       [3.],
       [1.],
       [2.],
       [1.],
       [3.],
       [0.],
       [1.],
       [2.]])