In [3]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
data = {'Feature1' :[1,2,3,4,5,6],
        'Feature2' :[7,8,9,10,11,12]}

df = pd.DataFrame(data)
df.head()

   Feature1  Feature2
0         1         7
1         2         8
2         3         9
3         4        10
4         5        11

In [5]:
sclar = StandardScaler()
standardized_data = sclar.fit_transform(df)
standardized_df = pd.DataFrame(standardized_data,columns= df.columns)

In [7]:
print("original dataFrame")
df

original dataFrame

   Feature1  Feature2
0         1         7
1         2         8
2         3         9
3         4        10
4         5        11
5         6        12

In [8]:
print("standardized dataFrame")
standardized_data

standardized dataFrame

array([[-1.46385011, -1.46385011],
       [-0.87831007, -0.87831007],
       [-0.29277002, -0.29277002],
       [ 0.29277002,  0.29277002],
       [ 0.87831007,  0.87831007],
       [ 1.46385011,  1.46385011]])